<div class="row">
  <div class="col-xs-10">
    <div class="list-group-item" *ngFor="let review of reviews | paginate : {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                  };
                  let i = index">
      <div class="card-body">
        <h4><b>{{ review.book.title }}</b></h4>
        <h5>{{ review.book.author }}</h5>
        <ngb-rating [max]="5" rate="{{ review.rate}}" [readonly]="true"></ngb-rating>
        <p>{{ review.review }}</p>
        <h6 class="read-date">{{ review.readDate | date:'MMMM dd, yyyy, HH:mm' }} </h6>
        <button class="btn btn-danger" (click)="deleteReview(review.id)">Delete</button>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="d-flex justify-content-center">
    <pagination-controls
      responsive="true"
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)">
    </pagination-controls>
  </div>
</div>
