<div class="row">
  <div class="col-xs-12">
    <h2>{{ book.title }}</h2>
    <h3> {{ book.author }}</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h4> Average rating: {{ book.bookRate | number:'1.0-2' }}</h4>
    <ngb-rating [max]="5.0" rate="{{ book.bookRate}}" [readonly]="true"></ngb-rating>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p> Read by {{ book.readCount }} people</p>
  </div>
</div>
<div class="row" style="margin-top: 2%; margin-bottom: 2%">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="enableAddForm()" *ngIf="isLoggedIn && !isAdding">Add review</button>
    <button class="btn btn-danger" (click)="deleteBook()" *ngIf="isLoggedIn && isAdmin">Delete book</button>
  </div>
</div>
<div class="row" style="margin-top: 2%; margin-bottom: 2%" *ngIf="isAdding">
  <div class="col-xs-12">
    <form [formGroup]="addReviewForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="review">Review</label>
            <input type="text" id="review" formControlName="review" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <ngb-rating [max]="5.0" [rate]="0" [readonly]="false" formControlName="stars"></ngb-rating>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="readDate">Read date</label>
            <input type="datetime-local" id="readDate" formControlName="readDate" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!addReviewForm.valid">Save
          </button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="list-group-item" *ngFor="let review of reviews">
    <div class="card-body">
      <h4><b>{{ review.userName }}</b></h4>
      <ngb-rating [max]="5" rate="{{ review.rate}}" [readonly]="true"></ngb-rating>
      <p>{{ review.review }}</p>
      <h6 class="read-date">{{ review.readDate | date:'MMMM dd, yyyy, HH:mm' }} </h6>
    </div>
  </div>
</div>

